.container{

}
.login-container{
    width: 800px;
    min-height: 400px;
    background: #fff;
    margin: 100px auto;
    display: flex;
}

.brand-container{
    width: 50%;
    min-height: 100%;
    background: #606060;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.form-container{
    width: 50%;
}

.logo-explain{
    font-size: 20px;
    font-weight: 700;
}

.sm-brand-container{
    display: none;
}

@media screen and (max-width: 768px){
    .sm-brand-container{
        display: block;
    }
    .login-container{
        width: 90%;
        margin: 10% 5%;
        height: auto;
    }
    .brand-container{
        display: none;
    }
    .form-container{
        width: 100%;
    }
}