.container{
    width: 300px;
    background: #fff;
    box-sizing: border-box;
    /* padding: 20px; */
    position: fixed;
    height: 100%;
    /* border-right: 1px solid rgb(220, 218, 218); */

    z-index: 1;
}


.logo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.logo-explain{
    font-size: 20px;
    font-weight: 700;
}

.sidebar-container{
    padding: 0 20px;
}

.sidebar-menu-item{
    list-style: none;
    width: 100%;
    padding: 0 10px;
}

.sidebar-menu-item.active{
    background: black;
    color: #fff;
    border-radius: 5px;

}

.sidebar-menu-item a{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    color: rgb(79, 79, 79);
    transition: all 0.5s ease;
}
.sidebar-menu-item.active a{
    color: #fff;

}

.sidebar-menu-item a:hover{
    font-weight: 600;
}

.sidebar-menu-item a span{
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 360px) {
    .container{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container{
        display: none;
    }

    .container.active{
        display: block;
    }
}