.container{
    width: 300px;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    height: 100%;
    /* border-right: 1px solid rgb(220, 218, 218); */
}

.sidebar-container{
    padding: 0;
}

.sidebar-menu-item{
    list-style: none;
    width: 100%;
}

.sidebar-menu-item a{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    color: rgb(79, 79, 79);
    transition: all 0.5s ease;
}

.sidebar-menu-item a:hover{
    font-weight: 600;
    color: #000;
}

.sidebar-menu-item a span{
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 360px) {
    .container{
        display: none;
    }
}