.content{
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
}

.section-container{
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px;
}

.card-container{
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .card-container{
    width: 100%;
    margin-bottom: 20px;
  }
}