@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: rgb(236, 237, 250) !important;
  font-weight: 400;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.mr-5{
  margin-right: 5px;
}
.ml-5{
  margin-left: 5px;
}
.s-10{
  font-size: 10px;
}
.s-12{
  font-size: 12px;
}
.s-14{
  font-size: 14px;
}
.s-16{
  font-size: 16px;
}
.tc-grey{
  color: grey;
}

.t-center{
  text-align: center;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.justify-sb{
  justify-content: space-between;
}

ul li{
  list-style: none;
}

.content{
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
}

.link{
  color: #000;
}

.link:hover{
  font-weight: 500;
}

@media screen and (max-width: 360px) {
  .content{
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .content{
    width: 100%;
    left: 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
